/* src/components/ProfileCard.css */

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #1c1c1c; /* Matte black color */
  color: #ffffff; /* Set text color to white for contrast */
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
  text-align: center;
  transition: max-width 0.3s ease; /* Smooth width transition */
}

.image-container {
  position: absolute;
  top: -65px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-container {
  margin-top: 60px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  max-width: 400px;
}

.details-container h1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.details-container h2 {
  font-size: 18px;
  color: #bbbbbb; /* Lighter gray for subtitle */
  margin: 5px 0 15px;
}

.details-container p {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  color: #dddddd; /* Slightly lighter color for paragraph text */
  margin-bottom: 20px;
  line-height: 1.6;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.profile-button, .follow-button {
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #007bff00;
  background-color: #630d91;
  cursor: pointer;
}

.profile-button:hover, .follow-button:hover {
  background-color: #222122;
  color: #ffffff;
}

@media (max-width: 768px) {
  .card-container {
    max-width: 80%; /* Reduce width slightly on tablets */
    padding-left: 15px;
    padding-right: 15px;
  }
  .details-container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .card-container {
    max-width: 90%; /* Further reduce width on mobile */
    padding-left: 15px;
    padding-right: 15px;
  }
  .details-container h1 {
    font-size: 20px;
  }

  .details-container h2 {
    font-size: 16px;
  }

  .details-container p {
    font-size: 14px;
  }

  .details-container {
    padding: 15px;
  }
}
